.Hbox {
    width: fit-content;
    height: fit-content;
    border: black;
    position: relative;
    margin: 15px;
}
h2 {
    font-size: 16;
    text-align: right;
    border-style: solid 1px;
}
.contentblock {
    color: darkgrey;
}
.H2Block1 {
    background-color: darkcyan;
}
.H2Block2 {
    background-color: darkslategray;
}
.H2Block3 {
    background-color: darkolivegreen;
}