}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 15px;
    }

.contentblock {
    padding:10px;
    }
    
.contentblockinner {
    background-color: grey  ;
    position: relative;
    width: 95%;
    overflow: auto;
}
.Hbox {
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    position: absolute; 
    top: 0px;
    right: 0px;
    clear: left;

}
h2 {
    text-align: right;
    width: fit-content;
    border: black;

}
.paragraph {
    width: 95%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
    position: relative;
    top: 75px;
    left:0px;
    }

#box1 {
    background-color: darkcyan;
}
#box2 {
    background-color: darkslategray;
}
#box3 {
    background-color: darkolivegreen;
}